# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

#be careful we dont want to exclude .obj model file
CPURenderer/build/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
CpuRenderer/bin
CpuRenderer/build
CpuRenderer/out
CpuRenderer/xcode_build
*.DS_Store